.HA_VERSION
.cloud/
.cache/
.ha_run.lock
custom_components/
deps/
*.log*
secrets.yaml
zigbee2mqtt/
ip_bans.yaml
.hass_configurator_prefs.json
.ssh/
.storage/*
!.storage/
!.storage/lovelace.dashboard_home
!.storage/local_calendar.heater.ics

